
<!DOCTYPE html>
<html lang="es" data-theme="normal"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descubre la vida y legado de Giordano Bruno, el visionario filósofo renacentista que desafió las normas de su época. Explora su pensamiento revolucionario, sus obras influyentes y su trágico destino en esta página dedicada a uno de los pensadores más audaces de la historia">
    <meta name="keywords"    content="GIORDANO BRUNO, FILÓSOFO RENACENTISTA, HEREJÍA, COSMOS, QUEMA EN LA HOGUERA, PENSAMIENTO LIBRE, MÁRTIR DE LA CIENCIA, LA INQUISICIÓN, OBRAS DE GIORDANO BRUNO, RENACIMIENTO ITALIANO">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> 
 
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="./Imagen/GiordanoBruno_logo.ico" alt="Biografia - Giordano Bruno" type="image/x-icon">
    <link rel="stylesheet" href="./css/estilos.css">
    <title>Biografía de Giordano Bruno - Vida, Obra y Legado</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Giordano bruno</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-sm border border-black-subtle navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand align-middle" href=""><img class="logo" SRC="../Imagen/GiordanoBruno_logo.jpg"
                    alt="Giordando Bruno (home)"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Multimedia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contacto </a> </li>
                </ul>
            </div>
        </div>
    </nav>
    {{{body}}}
    <footer class="footer">
        <img class="logo" SRC="../Imagen/GiordanoBruno_logo.jpg" alt="Giordando Bruno">
        <div class="redes">
            <a href="https://web.facebook.com/cgiordanobruno"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/GioBruno1600"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/p/CIiyD5_B3Op/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://cl.linkedin.com/in/giordano-bruno-705042168"><i class="fa-brands fa-linkedin"></i></a>
            <p>Copyright© Todos los Derechos Reservados.</p>
         </div>
    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
</script>

</html>